@import 'src/styles/variables';

.Button {
  display: block;
  border-radius: 16px;
  cursor: pointer;
}

.outlined {
  border: 1px solid black;
  background-color: $primary-color;
  color: $primary-text-color;
}

.filled {

}

.disabled {

}

.padd_0 {
  padding: 0;
}

.padd_8 {
  padding: 8px;
}